* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #090909;
    color: #f8f8f8;
}

.theme-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.theme-btn {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-btn.red {
    background-color: red;
}

.theme-btn.yellow {
    background-color: yellow;
}

.theme-btn.blue {
    background-color: blue;
}

.theme-btn.purple {
    background-color: purple;
}

.theme-btn.pink {
    background-color: pink;
}
